doctype html
html(ng-app='HadokoaApp')
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='/jquery/dist/jquery.min.js')
    script(src='/angular/angular.min.js')
    script(src='/angular-route/angular-route.min.js')
    script(src='/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/app.js')

    <!-- Admin SPA -->
    script(src='/admin/index.js')